:root {
    --black-01: #0F0F0F;
    --black-02: #262626;
    --black-03: #2e2e2e;
    --gray-01: #474747;
    --gray-02: #808080;
    --gray-03: #a8a8a8;
    --white-01: #f5f5f5;
    --white-02: #eeeeee;
  
    /* Highlight colors: */
    --red-primary: #FF6161;
    --orange-primary: #FF9344;
    --yellow-primary: #EDDA31;
    --green-primary: #5E9055;
    --blue-primary: #5297FD;
    --purple-primary: #9664FF;
    --pink-primary: #F559EF;
  
    /* dimmed colors */
      --red-dimmed: #4B2D2D;
      --orange-dimmed: #4B3728;
      --yellow-dimmed: #494526;
      --green-dimmed: #2D352A;
      --blue-dimmed: #2C374D;
      --purple-dimmed: #362E4E;
      --pink-dimmed: #492D4A;

    /* Highlight colors abstracted */
    --color-1: var(--red-primary);
    --color-2: var(--orange-primary);
    --color-3: var(--yellow-primary);
    --color-4: var(--green-primary);
    --color-5: var(--blue-primary);
    --color-6: var(--purple-primary);
    --color-7: var(--pink-primary);

    --color-1-dimmed: var(--red-dimmed);
    --color-2-dimmed: var(--orange-dimmed);
    --color-3-dimmed: var(--yellow-dimmed);
    --color-4-dimmed: var(--green-dimmed);
    --color-5-dimmed: var(--blue-dimmed);
    --color-6-dimmed: var(--purple-dimmed);
    --color-7-dimmed: var(--pink-dimmed);
  
  
  /* transprent whites */
    --light-48: rgba(255, 255, 255, 0.48);
    --light-24: rgba(255, 255, 255, 0.24);   
    --light-12: rgba(255, 255, 255, 0.12);
  
  /* Slider styles */
    --slider-background-color: #474747;
    --slider-checked-background-color: #474747;
    --color-for-checked-left-label: #f5f5f5;
    --color-for-checked-right-label: #f5f5f5;




  }